
<div class="container ">

	<div class="p-3 w-75 m-auto" >
		<input type="text" [(ngModel)]='searchTerm'  class="form-control bg-transparent" >
	</div>
<div class="row">

	<div class="col-md-4 py-3">
		<div class="brdr w-25 mb-3"></div>
		<h3>Trending<br/> Movies<br/> to Watch Now</h3>
		<p class="secondFontColor py-2">Most watched movies by days</p>
		<div class="brdr w-100 mt-3"></div>
	</div>
	
<div *ngFor="let movie of trindingMovies|serachh:searchTerm" class="col-md-2 py-3">
<div class="movie">
	<a [routerLink]='["/moviedetails" ,movie.id]'>
	<img [src]="imgSrce+movie.poster_path" class="w-100" alt="">
<h4 class="my-2 h5 ">{{movie.title}}{{movie.name}}</h4>
<div class="Vote position-absolute">{{movie.vote_average}}</div>
</a>
</div>

</div>

</div>


<div class="row py-5">
	<div class="p-3 w-75 m-auto" >
		<input type="text" [(ngModel)]='term'  class="form-control bg-transparent" >
	</div>
	<div class="col-md-4 py-3">
		<div class="brdr w-25 mb-3"></div>
		<h3>Trending<br/> Tv Show<br/> to Watch Now</h3>
		<p class="secondFontColor py-2">Most watched Tv Show by days</p>
		<div class="brdr w-100 mt-3"></div>
		
	</div>
	
<div *ngFor='let tv of trindingTv|tvsearch:term' class="col-md-2 py-3">
<div class="movie">
	<img [src]="imgSrce+tv.poster_path" class="w-100" alt="">
<h4 class="my-2 h5 ">{{tv.title}}{{tv.name}}</h4>
<div class="Vote position-absolute">{{tv.vote_average}}</div>
</div>

</div>

</div>





</div>
















